# Ignore Python bytecode files
__pycache__/
*.pyc

# Ignore Anaconda environment files
env/
*.yaml
*.lock

# Ignore IDE files
.vscode/
.idea/

# Ignore log files
*.log

# Ignore compiled binaries
*.exe
*.dll
*.so
*.dylib

# Ignore data files
data/
*.csv
*.json
*.xlsx